Med's Comments (ISEG)

Thank you for the effort put into this well-written document. Please find some
comments below:

# How path is defined?

CURRENT:
   This defines a time in which a sender intentionally
   uses less capacity than might be available, with the intention to
   avoid or limit overshoot of the available capacity for the path.

I guess you are assuming that a path is identified by the endpoint
geocoordinate (rather than the actual forwarding path that will be used for
forwarding packets of a connection). Better to call this out early in the
document.

# Multiple paths and multi-interface considerations

Packets of the same connection may be distributed among multiple interfaces.
How this impacts the saved parameters? More generally, better to call out the
assumptions.

For example, text such as the following hints that single paths are considered:

   The Remote Endpoint is an implementation-dependent value that
   identifies the sender's view of the network path being used

# Network Fairness

The introduction say:
   In the extreme case, an
   overshoot can result in persistent congestion with unwanted
   starvation of other flows [RFC8867] (i.e., preventing other flows
   from successfully sharing the capacity at a common bottleneck).

May consider Maybe cite the capacity fairness section from RFC9743.

# IETF Transport Protocols

CURRENT:
   "Generally, implementations are advised to be cautious when using
   saved CC parameters on a new path", as stated in [RFC9000].  While
   this statement was in the context of the QUIC transport protocol,
   this advice is also appropriate for any IETF transport protocol.

Shouldn’t be this applicable to any transport used on the public Internet?

# Anycast & Multiple receiver instances

Section 1.2 reasons as if there will be always ONE single terminating instance
for a connection.

Are there implications where the receiver is provided by several anycast
instances (without instance affinity in place, for example)?

# Bidirectional/Asymmetric CR

CURRENT:
   Careful Resume also supports a
   bidirectional data transfer, where both endpoints simultaneously send
   data (e.g., remote execution of an application, or a bidirectional
   video conference call).

For such cases, I guess that there is nothing that prevents that CR can be used
for a connection direction independently.

# Interaction with External Signals

CURRENT:
   Resuming a connection with CC parameters that were observed during a
   previous connection is inherently a tradeoff between the potential
   performance gains for the new connection and the risks of degraded
   performance for other connections that share a common bottleneck.

There are also other means to retrieve the access capacity
(draft-ietf-ippm-capacity-protocol). Should the decision to use cached values
be impacted by such measures if/when available?

# Logging

The document identifies many logging events and explicitly refer to a specific
logging format (qlog). For example, the document says:

   This document defines triggers to support logging key events.  [LOG]
   provides definitions that enable a Careful Resume implementation to
   generate qlog events when using QUIC.
   …
   *  Reconnaissance Phase (Minimum RTT too small): If the minimum RTT
      recorded in the Reconnaissance Phase is less than or equal to
      (saved_rtt / 2) (see Section 4.2.1), the sender MUST enter stop
      using Careful Resume (logged as rtt_not_validated in [LOG]) and
      returns to use normal CC.

* This suggests that [LOG] is normative.

* To avoid that normative dependency, logging events can be specified without
assuming a given format + provide [LOG] only as an example.

# Connectionless transports

Section 3.2 has the following:
   *  Reconnaissance Phase (Received acknowledgment): The CWND is
      increased using normal CC as each ACK confirms delivery of
      previously unacknowledged data (i.e., the base congestion control
      algorithm continues to operate normally).

Which ACK are we referring to here?

This triggers applicability to connectionless transports. Should a mention be
included early in the document?

# Single use

Section 3.2 says:
      If another connection
      has already started to use the saved_cwnd, the sender MUST exit
      Careful Resume and return to use normal CC.

How is this made available during connection establishment? What are the
implications if this is not followed:

I see some text in Section 4.2 that may answer part of this:

   The method that is used to prevent re-use of the saved CC parameters
   will depend upon the design of the server (e.g., if all connections
   from a given client IP arrive at the same server process, then the
   server process could use a hash table, whereas when using some types
   of load balancing, a distributed system might be needed to ensure
   this invariant when the load balancing hashes connections by 4-tuple
   and hence multiple connections from the same client device are served
   by different server processes.)

Maybe update 3.2 to refer to that part.

BTW:

* What’s “server” are we referring to here? That notion is not used elsewhere
in the document. * please s/given client IP/given client IP address

# RFC9293

Section 3.6:
   A sender that experiences persistent congestion (e.g., a
   Retransmission Time Out, RTO, expiry in TCP)

Consider citing RFC9293 for TCP.

# Need configuration knob

4.3.1 says:

   When the path characteristics are known to be dynamic, or the path
   varies, a small Lifetime is desirable (e.g., measured in minutes).
   For stable paths, and where the sender does not expect the path to be
   shared by many senders, a longer Lifetime (e.g., measured in hours)
   could be used.  A bottleneck that is shared by a large number of
   senders brings greater risk that CR connections could contribute
   congestion that leads to prolonged overload with starvation, this can
   be mitigated by setting a small Lifetime.

Not straightforward for an app to guess these. Having a configuration knob
would be more appropriate. Can we update the text to indicate such knob is
needed? Also, this is needed to flush out the lifetimes.

# TCP parity

4.3.2
   The sender needs to avoid sending a burst of packets greater than IW
   as a result of a step-increase in the CWND.  This is consistent with
   [RFC8085], [RFC9000].

Do we have a reference for TCP?

# Normative references

CURRENT:
8.1.  Normative References

..

   [RFC8085]  Eggert, L., Fairhurst, G., and G. Shepherd, "UDP Usage
              Guidelines", BCP 145, RFC 8085, DOI 10.17487/RFC8085,
              March 2017, [<https://www.rfc-editor.org/info/rfc8085>](https://www.rfc-editor.org/info/rfc8085).

..

   [RFC9000]  Iyengar, J., Ed. and M. Thomson, Ed., "QUIC: A UDP-Based
              Multiplexed and Secure Transport", RFC 9000,
              DOI 10.17487/RFC9000, May 2021,
              [<https://www.rfc-editor.org/info/rfc9000>](https://www.rfc-editor.org/info/rfc9000).

Why are these cited as normative?

Fixes for various things, and specifically:
* To clarify transport path in intro.
* The I-D ought to be clear that CC runs on each path. A
connection may spread packets on multiple paths, in which case we
assume that there is a separate congestion context for each path.
* RFC9743 also talks about sharing the capacity at a common
bottleneck, we can cite both RFC8867 and  RFC9743 as ways to
evaluate fairness/harm.
* Updated text on QUIC as reference.
* Careful Resume is designed so that any potential "harm" to
other flows is constrained, and so we think anycast does not result in a
significant higher harm - the reconaisance and validation will
respond to mistakes. However, this would work best when the network is
provisioned so that anycast paths are equivalent - and do not
introduce a new bottleneck. Add section on operational considerations.
* change to say CR can independently used for each direction.
* logging made examples.
* Note: the sender detects/implements this does depend on how a
sender learns about the saved CC parameters and on the design of the server.
* A sender needs to avoid step-increase in the CWND resulting in a burst of 
             packets that is greater than the size of the CC algorithm's IW.
            This is consistent with <xref target="RFC8085"></xref>,
            <xref target="RFC9000"></xref>. - Note RFC 6928 discusses pacing within the IW.
* fix the table column alignment at the end of the  I-D.
